.main-web-header {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

}

.main-web-header-logo {
    justify-content: center;
    margin-top: 1rem;
}

@media (max-width: 440px) {
    .main-web-header-logo {
        width: 70%;
    }
}

@media (min-width: 440px) and (max-width: 620px) {
    .main-web-header-logo {
        width: 55%;
    }
}

@media (min-width: 620px) {
    .main-web-header-logo {
        width: 40%;
    }
}