.admin-button-overlay {
    background: var(--verde-claro);
    border: 1px solid var(--verde-claro);
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}

.admin-button-overlay:active {
    background-color: #2caa95;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}
.admin-button-overlay:hover {
    background-color: #2caa95;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.admin-button {
    display: flex;
    cursor: pointer;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
}