
.mainWeb-header{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

}

.mainWeb-header-logo{
    width: 72%;
    justify-content: center;
    margin-top: 1rem;
}





