.admin-menu {
    display: flex;
    width: 100%;
}

.admin-menu-tabs {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

}

.admin-menu-tab {
    align-items: center;
    display: flex;
    flex: 0.1 1 auto;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    background-color: var(--verde-claro);
    border: 2px solid var(--verde-oscuro);
    border-radius: 5px 0 0 0;
    margin-top: 1rem;

}

.admin-menu-tab:first-child {
    margin-left: .4rem;
}

.admin-menu-tab.selected {
    background-color: var(--verde-oscuro);

}

.admin-menu-tab-link {
    text-decoration: none;
    color: white;
    font-family: "Gotham Bold", serif;

}

.admin-menu-tab:hover {
    background-color: var(--verde-oscuro);

}

.admin-menu-logout {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-menu-logout-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--verde-oscuro);
}