.main-web-foot {
    flex: 1 1 auto;
}

.main-web-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

}

.main-web-foot-icons {
    width: 6rem;
    font-size: 3.7rem;
    color: var(--verde-oscuro);

}