.admin {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}

.admin-menu-overlay {
    align-items: center;
    border-bottom: 2px crimson solid;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 3em;
    width: 100%;
}

.admin-content-overlay {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}