.App {
    text-align: center;
    height: 100%;
    /* Only Firefox Supported */
    scrollbar-width: none;

}

/* Chrome, Opera, Safari and Edge supported */
.App::-webkit-scrollbar {
    width: 0;
}
