.App {
    text-align: center;
    height: 100%;
    overflow-y: auto;
    /* Only Firefox Supported */
    scrollbar-width: none;
    border: 4px solid #2caa95;
    box-shadow: inset 0px 0px 16px -4px #2caa95;
    border-radius: 4px;

}

/* Chrome, Opera, Safari and Edge supported */
.App::-webkit-scrollbar {
    width: 0;
}
