@font-face {
    font-family: "Gotham Light";
    src: url("Gotham Light.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Bold";
    src: url("Gotham Bold.otf") format("opentype");
}

:root {
    --verde-claro: #b4d6ca;
    --verde-claro-plus: #e1f2ec;
    --verde-oscuro: #2caa95;
}

html, body {
    height: 100%;
    font-family: 'Gotham Light', sans-serif;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
    width: 100%;
    border: 2px solid var(--verde-oscuro);
    box-shadow: 0 0 10px -5px var(--verde-oscuro);
    border-radius: 4px;
}
