.customers {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;

}

.customers-empty-start-block {
    flex: 0.15 1 auto;
}

.customers-search {
    align-items: center;
    display: flex;
    flex: 0.1 1 auto;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding:0.9rem;

}

.customers-search-icon {
    align-items: center;
    display: flex;
    flex: 0.05 1 auto;
    font-size: 1.4rem;
    justify-content: center;
    color: var(--verde-oscuro)

}

.customers-search-input {
    flex: 1 1 0;
    width: 100%;
    padding:.2rem;
    color:var(--verde-oscuro);
    outline: none;

}

.customers-table-overlay {
    flex: 0.2 1 auto;
    width: 100%;

}

.customers-table {
    width: 100%;
    word-break: break-word;
    border-collapse: collapse;
    border:none;

}

.customers-table-tr {
    height: 2em;
}

.customers-table-tr-green {
    height: 2em;
    background-color: var(--verde-claro);
    color: white;
}

.customers-table-tr-white {
    height: 2em;
    color: var(--verde-oscuro);

}

.customers-table-tr.head {
    font-family: "Gotham Bold", serif;
    background-color: var(--verde-oscuro);
    color: white;
}

.customers-table-tr.body.selected {
    font-family: "Gotham Bold", serif;
    box-shadow: 0 0 10px -5px var(--verde-oscuro);
    border: 2px solid var(--verde-oscuro);
}

@media (max-width: 680px) {
    .customers-table-th.phone {
        display: none;
    }

    .customers-table-th.email {
        display: none;
    }

    .customers-table-td.phone {
        display: none;
    }

    .customers-table-td.email {
        display: none;
    }
}
