.new-customer {
    display: flex;
    flex: 0.7 1 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    max-width: 30rem;

}

.new-customer-form {
    display: flex;
    flex: 0.8 1 0;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    background-color: var(--verde-claro);
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
}

.new-customer-form-item {
    align-items: center;
    display: flex;
    flex: 0.1 0.5 auto;
    justify-content: center;
    text-align: left;
}

.new-customer-form-item-label {
    display: inline-block;
    width: 150px;
    font-family: "Gotham Bold", serif;
    color: var(--verde-oscuro);
}

.new-customer-form-item.observaciones {
    align-items: flex-start;
    flex-direction: column;
}

.new-customer-form-item-label-observaciones {
    display: block;
    margin-bottom: 0.5em;
    font-family: "Gotham Bold", serif;
    color: var(--verde-oscuro);
}

.new-customer-form-item-input-observaciones {
    box-sizing: border-box;
    display: block;
    height: 5em;
    width: 100%;
    border: 2px solid #2caa95;
    box-shadow: 0px 0px 10px -5px #2caa95;
    border-radius: 4px;
    background-color: var(--verde-claro-plus);
}

.new-customer-form-item-button {
    text-align: center;
    width: 70%;
    margin-top: 1rem;
}
